.header {
  position: fixed;
  inset: 0;
  height: 4.5rem;
  background-color: #f97976;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 500;
  z-index: 1;

  &__logo {
    height: 56px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    padding: 0.75rem;
  }
  &__cart {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #f97976;
    padding: 0.5rem;
    cursor: pointer;
  }
  &__cart-icon {
    width: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    padding: 1rem;
    &__nav {
      display: none;
    }
  }
}
